{% extends '/base.html' %}

<h1>{% block title %} COURSES LIST {% endblock %}</h1>

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            {% for course in courses_list %}
            <div class="card mx-auto" style="max-width: 300px;">
                <div class="card-body">
                    <h4 class="card-title">{{ course.title }}</h4>
                    <p class="card-text">{{ course.description }}</p>
                    <div class="card">
                        <p class="card-title">Course available: <span style="font-weight: 500;"> {{ course.available
                                }}</span></p>
                                <hr>
                        <p class="card-body">Course Level: {{ course.level }}</p>
                    </div>
                    <div class="card-footer">
                        <p>Course Price: <span style="font-weight: 500"> ${{ course.price }}</span></p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}