input[type="radio"]{
    list-style: none;
}

.no-bullet {
    list-style-type: none;
}
*{
    box-sizing: border-box;
}
div .top-G {
    margin: 0 auto;
    display: inline-flexbox;
    text-align: center;
}