{% extends 'base.html' %}
{% block content %}
<div class="container my-5 ">
    <div class="row justify-content-centre">
        <div class="col mx-auto" style="max-width: 800px; width: auto;">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title text-center mb-4">{% block title%} Log In {% endblock%}</h1>
                    <hr class="my-4" style="border-top: 2px rgb(58, 57, 57) solid;">
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <div class="alert alert-danger">
                        {{ messages[0] }}
                    </div>
                    <script>
                        setTimeout(() => {
                            document.querySelector('.alert ').style.display = 'none';
                        }, 2000);
                    </script>
                    {% endif %}
                    {% endwith %}
                    <form action="{{ url_for ('auth.login') }}" method="POST">
                        {{ form.csrf_token }}
                        <div class="form-group mb-2">
                            {{ form.email.label }}
                            {{ form.email(class_='form-control', placeholder='Enter Email')}}
                        </div>
                        {% if form.email.errors %}
                        {% for error in form.email.errors %}
                        <div class="alert alert-danger">
                            {{ error }}
                        </div>
                        {% endfor %}
                        {% endif %}

                        <div class="form-group mb-2">
                            {{ form.password.label }}
                            {{ form.password(class_='form-control', placeholder='Enter Password')}}
                        </div>
                        {% if form.password.errors %}
                        {% for error in form.password.errors %}
                        <div class="alert alert-danger">
                            {{ error }}
                        </div>
                        {% endfor %}
                        {% endif %}

                        <div class="form-group mb-2">
                            {{ form.remember.label }}
                            {{ form.remember }}
                        </div>
                        {% if form.remember.errors %}
                        {% for error in form.remember.errors %}
                        <div class="alert alert-danger">
                            {{ error }}
                        </div>
                        {% endfor %}
                        {% endif %}

                        <div class="form-group mb-2 ml-auto text-center">
                            {{ form.submit(class_='btn btn-primary') }}
                        </div>
                        {% if form.submit.errors %}
                        {% for error in form.submit.errors %}
                        <div class="alert alert-danger">
                            {{ error }}
                        </div>
                        {% endfor %}
                        {% endif %}

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}